        
<style type="text/css" media:"screen">

body {
  background-color:blue;
}
# tablet{background-color: purple;}
p { color: orange;}
p1 { color: yellow;}
# Galaxy-cell{background-color: black;}


</body>
</style>
