        
<style type="text/css" media:"screen">

body {
  background-color:blue;
}
# tablet{background-color: purple;}

# Galaxy-cell{background-color: black;}
p{ style="background-color:Tomato;"}

</body>
</style>
