@charset "UTF-8";

/* index */

h1{  background-color:black; 
     color:turquoise;
     font-style:italic;
     font-weight:bold;
    }
   

/* tabs4 */

body{background-image: linear-gradient(to right, red , blue);}

h1{ color:yellow; 
    font-style:italic;
     font-weight:bold;
}


