@charset "UTF-8";

/* index */
<style>
 div.tabs4 {
      border: 5px solid darkblue;
}

div.phones{
 border: 5px solid darkblue;
}

* {
  box-sizing: border-box;
}
.responsive {
  padding: 6 px;
  float: left;
  width: 22.99999%;
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
   margin: 6px 0;}
 
 .clearfix:after {
  content: "";
  display: table;
  clear: both;}

</style>


